<div class="card my-3">
		<div class="py-1 d-flex flex-row">
			<div class="m-2 rounded-circle gravatar"> <%= image_tag 'gravatar.png' %> </div>
			<div class="mr-2 mt-1 post-author p-2"> <%= link_to post.user.fullname, post.user %> </div>
			<div class="post-actions p-0"> <%= render 'post_actions', post: post %> </div>
		</div>
			<div class="card-body p-2">
				<p><%= post.content %></p>
				<p>Count of likes | count of comments</p>
			</div>
			<div class="card-footer text-center py-2 px-3"> 
				<span class="pr-4"> 
					<%= link_to content_tag(:i, "Like", class:"fa fa-thumbs-up pr-2"), '#', class:"btn btn-sm social-btn" %>
				</span>
				<span class="pr-4">
					<%= link_to content_tag(:i, "Comments", class:"fa fa-comments pr-2"), '#', class:"btn btn-sm social-btn" %> 
					</span>
				<span class="pr-4">
					<%= link_to content_tag(:i, "Share", class:"fa fa-share pr-2"), '#', class:"btn btn-sm social-btn" %>
				</span>
			</div>
	</div>
<p> post comments </p>

